cvxopt==1.3.0
matplotlib==3.7.1
MLXP==1.0.1
munkres==1.1.4
numpy==1.24.3
pandas==2.0.2
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.9.3
spams-bin==2.6.10
spectral==0.23.1
tqdm==4.65.0
torch==2.0.1
